@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
    margin: 0 auto;
}

html {
    font-family: 'Source Sans Pro',
        sans-serif;
    background-color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 1rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid black;
}

.name-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.nav-list-container {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-list-container a {
    text-decoration: none;
    color: black;
    transition: color 300ms ease-out;
}

.nav-list-container li {
    font-weight: 600;
}

.nav-list-container a:hover {
    color: #facf0f;
}


.my-face {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 10%;

}

.contact {
    background-color: #facf0f;
    padding: .6rem 1rem;
    border-radius: 10px;
    transition: color 300ms ease-out;
}

.nav-list-container .contact:hover {
    color: white;

}

.nav-list-container .contact:active {
    transform: scale(1.05);
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 16px;
    }

    .name-container {
        display: none;
    }

    .nav-list-container {
        justify-content: space-around;
        padding: 0;
    }

}


.hero-section {
    padding: 1rem;
    background-color: whitesmoke;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 3rem;
    letter-spacing: 4px;
}

.info {
    width: 55%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 3rem;
}

.projects-button {
    border: none;
    background-color: #facf0f;
    padding: 1rem 4rem;
    font-size: 24px;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 3px;
    box-shadow: 20px 20px 100px 1px rgb(158, 155, 155);
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 3rem;
        letter-spacing: 3px;
        text-align: center;
    }

    .info {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 3rem;
    }

}

.about-me {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.about-me p {
    width: 55%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.button {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
    background-color: #facf0f;
    padding: 1rem;
    width: 9rem;
    margin: 2rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 100px 1px rgb(158, 155, 155);
}

.button:active {
    box-shadow: none;
}



.yellow-underline {
    background-color: #facf0f;
    height: .4rem;
    width: 2rem;
    border-radius: 10px;
    margin: 1rem auto;
}

.subtitle {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .about-me {
        padding: 10px;
    }

    .about-me p {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 3rem;
    }
}

.get-to-know-section {
    display: flex;
    margin-left: 2rem;
}

.get-to-know-me {
    flex: 1;
}

.get-to-know-me h3 {
    font-size: 2rem;
}

.p {
    margin: 1rem 0;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
}

.skills {
    flex: 1;

}

.skills h3 {
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.skills li {
    padding: 1rem;
    margin: .5rem;
    background-color: rgb(196, 202, 207);
    border-radius: 10px;
}

@media only screen and (max-width: 425px) {
    .get-to-know-section {
        flex-direction: column;
        padding: 20px;
        margin-left: 0;

    }

    .get-to-know-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills ul {
        padding: 0;
    }
}



.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left {
    flex: 1;
    margin: 2rem;
    margin-right: 10rem;
}

.card-right {
    flex: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.projects p {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.3rem;
    line-height: 2rem;
}

@media only screen and (max-width: 425px) {
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards img {
        height: 300px;
        width: 300px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p {
        margin: 0;
    }

}


.contact-section {
    background-color: whitesmoke;
    height: 1200px;
}

.contact-section h2 {
    font-size: 3rem;
}